body {
  color: #37383a;
  font-family: "Lato";
  font-family: "Permanent Marker", cursive;
  font-size: 14px;
  background-color: #fdc3e0;
}

@media only screen and (min-width: 770px) {
  .body {
    background-size: cover;
  }
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../assets/fodselsdag-woman-dk-xKpRkJ9GxsSHzN070weKBQ.jpg) repeat center;
  background-size: cover;
  padding: 50px 0;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url(../assets/fodselsdag-woman-dk-xKpRkJ9GxsSHzN070weKBQ.jpg) repeat center;
  background-size: 165%;
}

@media only screen and (min-width: 770px) {
  .bg {
    display: none;
  }
}

/* title graphic */
.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title img {
  width: 90%;
  height: auto;
}

/* mobile first grid layout */
.grid-1 {
  display: -ms-grid;
  display: grid;
  width: 96%;
  max-width: 300px;
  margin: 2% auto;
  z-index: 9999;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (22em)[9];
      grid-template-rows: repeat(9, 22em);
  grid-gap: 25px;
      grid-template-areas: "d1      d1       d1" "d2      d2     d2" "d3       d3     d3" "d4       d4     d4" "d5       d5      d5" "d6      d6     d6" "d7      d7      d7" "d8       d8     d8" "d9       d9     d9";
}

/* media query */
@media only screen and (min-width: 770px) {
  .grid-1 {
    max-width: 900px;
    -ms-grid-columns: (9fr)[9];
        grid-template-columns: repeat(9, 9fr);
    -ms-grid-rows: (22em)[3];
        grid-template-rows: repeat(3, 22em);
        grid-template-areas: "d1 d1 d1 d2 d2 d2 d3 d3 d3" "d4 d4 d4 d5 d5 d5 d6 d6 d6" "d7 d7 d7 d8 d8 d8 d9 d9 d9";
  }
}

/* individual items */
.title {
  grid-area: t;
}

.day-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: d1;
}

.day-1 .back {
  background: rgba(255, 255, 255, 0.2);
}

.day-1 .back .img {
  background: url(../assets/massage.jpeg);
}

.day-2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: d2;
}

.day-2 .back {
  background: rgba(255, 255, 255, 0.2);
}

.day-2 .back .img {
  background: url(../assets/bio.jpg);
}

.day-3 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: d3;
}

.day-3 .back {
  background: rgba(255, 255, 255, 0.2);
}

.day-3 .back .img {
  background: url(../assets/Slik.png);
}

.day-4 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: d4;
}

.day-4 .back {
  background: rgba(255, 255, 255, 0.2);
}

.day-4 .back .img {
  background: url(../assets/walking.jpg);
}

.day-5 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: d5;
}

.day-5 .back {
  background: rgba(255, 255, 255, 0.2);
}

.day-5 .back .img {
  background: url(../assets/madlavning.jpg);
}

.day-6 {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: d6;
}

.day-6 .back {
  background: rgba(255, 255, 255, 0.2);
}

.day-6 .back .img {
  background: url(../assets/panda.jpg);
}

.day-7 {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: d7;
}

.day-7 .back {
  background: rgba(255, 255, 255, 0.2);
}

.day-7 .back .img {
  background: url(../assets/catlitter.jpg);
}

.day-8 {
  -ms-grid-row: 8;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: d8;
}

.day-8 .back {
  background: rgba(255, 255, 255, 0.2);
}

.day-8 .back .img {
  background: url(../assets/ed4fbff5590067af9c42204900847efee8e6d983.jpg);
}

.day-9 {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: d9;
}

.day-9 .back {
  background: rgba(255, 255, 255, 0.2);
}

.day-9 .back .img {
  background: url(../assets/cleaning.jpg);
}

/* door styles */
.grid-1 input {
  display: none;
}

label {
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  width: 100%;
  height: 120px;
}

.door {
  width: 100%;
  max-width: 300px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  border: 2px dashed transparent;
  border-radius: 3px;
}

.door div {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* typography */
  font-family: "Kalam", cursive;
  font-family: "Permanent Marker", cursive;
  color: #385052;
  font-size: 2em;
  font-weight: bold;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2);
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

.door .back {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: white;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border: solid white;
  border-width: 15px 15px 65px 15px;
}

.door .back p {
  position: absolute;
  bottom: -70px;
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
  line-height: 25px;
  color: #2e313d;
  text-align: center;
}

.door .back .img {
  opacity: 0.8;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

label:hover .door {
  border-color: #385052;
}

:checked + .door {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.heart {
  position: absolute;
  left: -50%;
  top: -50%;
  -webkit-transform: translate(50%, 50%) rotate(-45deg);
          transform: translate(50%, 50%) rotate(-45deg);
  background-color: red;
  height: 100%;
  width: 100%;
  z-index: 3;
  border-radius: 1%;
}

.heart:before,
.heart:after {
  content: "";
  background-color: red;
  border-radius: 50%;
  height: 100%;
  position: absolute;
  width: 100%;
}

.heart:before {
  top: -50%;
  left: 0;
}

.heart::after {
  right: -50%;
}

.pyro {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100vh;
  height: 100vh;
}

@media only screen and (min-width: 770px) {
  .pyro {
    width: 100vw;
  }
}

.pyro > .before,
.pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
          box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    -webkit-box-shadow: -204px -326.66667px #bb00ff, 240px -161.66667px #ccff00, -174px -78.66667px #ff006f, -118px -411.66667px #00b7ff, -194px 3.33333px #ff002f, 7px -229.66667px #ff8800, -79px -25.66667px #005eff, 100px -256.66667px #ff00e6, 153px -187.66667px #ff00c4, 1px -73.66667px #0077ff, 102px -319.66667px #ff00e1, 248px -182.66667px #ff4000, -244px -69.66667px #00ff3c, -227px -261.66667px #ffc800, -3px -258.66667px #00ff59, -68px -321.66667px #ff1500, 45px -273.66667px #ee00ff, -195px -277.66667px #c800ff, -123px -309.66667px #37ff00, -82px -345.66667px #0044ff, -133px -177.66667px #ff0022, 63px -130.66667px #6f00ff, 143px -236.66667px #00ffbb, -167px -285.66667px #0015ff, -45px -30.66667px #44ff00, 216px -57.66667px #1e00ff, -135px -326.66667px #e1ff00, -228px 58.33333px #006fff, 41px 67.33333px #ccff00, -78px -314.66667px #9100ff, -84px -272.66667px #00ffe1, -24px -99.66667px #ffa200, 202px 22.33333px #00ff09, -200px -155.66667px #6aff00, 200px -398.66667px #00ff66, 228px -42.66667px #00ffd9, -16px -305.66667px #00ff6f, 43px -208.66667px #00ff2f, 5px -96.66667px #ddff00, -197px 78.33333px #95ff00, 119px -203.66667px #ff0400, 225px 36.33333px #00ff04, -130px -21.66667px #001aff, -81px -39.66667px #00ff7b, -55px -221.66667px #22ff00, 212px -278.66667px #00b3ff, -52px -45.66667px #3700ff, -222px -164.66667px #cc00ff, -74px -329.66667px #00e1ff, 48px -64.66667px #aeff00, 99px 29.33333px #aa00ff;
            box-shadow: -204px -326.66667px #bb00ff, 240px -161.66667px #ccff00, -174px -78.66667px #ff006f, -118px -411.66667px #00b7ff, -194px 3.33333px #ff002f, 7px -229.66667px #ff8800, -79px -25.66667px #005eff, 100px -256.66667px #ff00e6, 153px -187.66667px #ff00c4, 1px -73.66667px #0077ff, 102px -319.66667px #ff00e1, 248px -182.66667px #ff4000, -244px -69.66667px #00ff3c, -227px -261.66667px #ffc800, -3px -258.66667px #00ff59, -68px -321.66667px #ff1500, 45px -273.66667px #ee00ff, -195px -277.66667px #c800ff, -123px -309.66667px #37ff00, -82px -345.66667px #0044ff, -133px -177.66667px #ff0022, 63px -130.66667px #6f00ff, 143px -236.66667px #00ffbb, -167px -285.66667px #0015ff, -45px -30.66667px #44ff00, 216px -57.66667px #1e00ff, -135px -326.66667px #e1ff00, -228px 58.33333px #006fff, 41px 67.33333px #ccff00, -78px -314.66667px #9100ff, -84px -272.66667px #00ffe1, -24px -99.66667px #ffa200, 202px 22.33333px #00ff09, -200px -155.66667px #6aff00, 200px -398.66667px #00ff66, 228px -42.66667px #00ffd9, -16px -305.66667px #00ff6f, 43px -208.66667px #00ff2f, 5px -96.66667px #ddff00, -197px 78.33333px #95ff00, 119px -203.66667px #ff0400, 225px 36.33333px #00ff04, -130px -21.66667px #001aff, -81px -39.66667px #00ff7b, -55px -221.66667px #22ff00, 212px -278.66667px #00b3ff, -52px -45.66667px #3700ff, -222px -164.66667px #cc00ff, -74px -329.66667px #00e1ff, 48px -64.66667px #aeff00, 99px 29.33333px #aa00ff;
  }
}

@keyframes bang {
  to {
    -webkit-box-shadow: -204px -326.66667px #bb00ff, 240px -161.66667px #ccff00, -174px -78.66667px #ff006f, -118px -411.66667px #00b7ff, -194px 3.33333px #ff002f, 7px -229.66667px #ff8800, -79px -25.66667px #005eff, 100px -256.66667px #ff00e6, 153px -187.66667px #ff00c4, 1px -73.66667px #0077ff, 102px -319.66667px #ff00e1, 248px -182.66667px #ff4000, -244px -69.66667px #00ff3c, -227px -261.66667px #ffc800, -3px -258.66667px #00ff59, -68px -321.66667px #ff1500, 45px -273.66667px #ee00ff, -195px -277.66667px #c800ff, -123px -309.66667px #37ff00, -82px -345.66667px #0044ff, -133px -177.66667px #ff0022, 63px -130.66667px #6f00ff, 143px -236.66667px #00ffbb, -167px -285.66667px #0015ff, -45px -30.66667px #44ff00, 216px -57.66667px #1e00ff, -135px -326.66667px #e1ff00, -228px 58.33333px #006fff, 41px 67.33333px #ccff00, -78px -314.66667px #9100ff, -84px -272.66667px #00ffe1, -24px -99.66667px #ffa200, 202px 22.33333px #00ff09, -200px -155.66667px #6aff00, 200px -398.66667px #00ff66, 228px -42.66667px #00ffd9, -16px -305.66667px #00ff6f, 43px -208.66667px #00ff2f, 5px -96.66667px #ddff00, -197px 78.33333px #95ff00, 119px -203.66667px #ff0400, 225px 36.33333px #00ff04, -130px -21.66667px #001aff, -81px -39.66667px #00ff7b, -55px -221.66667px #22ff00, 212px -278.66667px #00b3ff, -52px -45.66667px #3700ff, -222px -164.66667px #cc00ff, -74px -329.66667px #00e1ff, 48px -64.66667px #aeff00, 99px 29.33333px #aa00ff;
            box-shadow: -204px -326.66667px #bb00ff, 240px -161.66667px #ccff00, -174px -78.66667px #ff006f, -118px -411.66667px #00b7ff, -194px 3.33333px #ff002f, 7px -229.66667px #ff8800, -79px -25.66667px #005eff, 100px -256.66667px #ff00e6, 153px -187.66667px #ff00c4, 1px -73.66667px #0077ff, 102px -319.66667px #ff00e1, 248px -182.66667px #ff4000, -244px -69.66667px #00ff3c, -227px -261.66667px #ffc800, -3px -258.66667px #00ff59, -68px -321.66667px #ff1500, 45px -273.66667px #ee00ff, -195px -277.66667px #c800ff, -123px -309.66667px #37ff00, -82px -345.66667px #0044ff, -133px -177.66667px #ff0022, 63px -130.66667px #6f00ff, 143px -236.66667px #00ffbb, -167px -285.66667px #0015ff, -45px -30.66667px #44ff00, 216px -57.66667px #1e00ff, -135px -326.66667px #e1ff00, -228px 58.33333px #006fff, 41px 67.33333px #ccff00, -78px -314.66667px #9100ff, -84px -272.66667px #00ffe1, -24px -99.66667px #ffa200, 202px 22.33333px #00ff09, -200px -155.66667px #6aff00, 200px -398.66667px #00ff66, 228px -42.66667px #00ffd9, -16px -305.66667px #00ff6f, 43px -208.66667px #00ff2f, 5px -96.66667px #ddff00, -197px 78.33333px #95ff00, 119px -203.66667px #ff0400, 225px 36.33333px #00ff04, -130px -21.66667px #001aff, -81px -39.66667px #00ff7b, -55px -221.66667px #22ff00, 212px -278.66667px #00b3ff, -52px -45.66667px #3700ff, -222px -164.66667px #cc00ff, -74px -329.66667px #00e1ff, 48px -64.66667px #aeff00, 99px 29.33333px #aa00ff;
  }
}

@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@-webkit-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

@keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
/*# sourceMappingURL=main.css.map */